@charset "utf-8";
*{ 	
 	margin: 0;
 	padding: 0; 
 	list-style: none;
 	border: 0;
 }
 a:link {text-decoration: none;}
body{
	background-color: #dedede;
}
#str{
	width: 800px;
	height: 372px;
	margin: 80px auto;
}
#main{
	width: 372px;
	height: 372px;
	float: left;
}
#main li.box{
	width: 120px;
	height: 120px;
	margin: 2px;
	float: left;
	background: #ffffff;
}
#right{
	width: 372px;
	height: 372px;
	float: left;
}
#right li.txt_box{
	width: 120px;
	height: 120px;
	margin: 2px;
	float: left;
	background: #ffffff;
	font-family: "微软雅黑","黑体";
	font-size: 80px;
	color: #b5b5b5;
	text-align: center;
	line-height: 120px;
}
#right li.box{
	width: 120px;
	height: 120px;
	margin: 2px;
	float: left;
	background: #ffffff;
}
#right li.count_box{
	width: 120px;
	height: 120px;
	margin: 2px;
	float: left;
	background: #ffffff;
	font-family: "微软雅黑","黑体";
	font-size: 80px;
	color: #b5b5b5;
	text-align: center;
	line-height: 120px;
}
#left{
	width: 124px;
	float: left;
}
#count{
	width: 120px;
	font-size: 50px;
	color: #000000;
}
#rule{
	float: left;
}
#box15{
	width: 244px;
	height: 244px;
	margin: 2px;
	background: #ffffff;
}
#h1{
	text-align: center;
	line-height: 60px;
	font-family: "微软雅黑","黑体";
	font-size: 40px;
	color: #b5b5b5;
}
.h2{
	margin-left: 10px;
	line-height: 30px;
	font-family: "微软雅黑","黑体";
	font-size: 20px;
	color: #b5b5b5;
}
.h3{
	width: 200px;
	margin: 10px auto;
	line-height: 20px;
	font-family: "微软雅黑","黑体";
	font-size: 16px;
	color: #b5b5b5;
}
#txt{
	width: 740px;
	height: 120px;
	margin: 2px;
	background: #ffffff;
	float: left;
	text-align: center;
	line-height: 120px;
	font-size: 40px;
	color: #b5b5b5;
	font-family: "微软雅黑","黑体";
}
#text{
	width: 740px;
	height: 80px;
	margin: 2px;
	background: #dedede;
	float: left;
	text-align: center;
	line-height: 80px;
	font-size: 16px;
	color: #b5b5b5;
	font-family: "微软雅黑","黑体";
}